.aip {
    width: 100px;
    height: 100px;
    object-fit: contain;
    cursor: pointer
}

.aip-selected {
    border: 2px solid #93baff !important;
}

.aip:hover {
    border: 1px solid #111;
}

.aip-none {
    border: 1px solid #ddd;
    display: flex;
}
.aip-none-label {
    margin: auto;
    font-size: 0.9rem;
    color: #111;
}